.AdsForm {
  padding-top: 50px;

  .titleFormPart,
  .phoneFormPart {
    padding-top: 20px;
  }

  .titleFormPart .partContent {
    height: 57px;
  }

  .titleFormPart,
  .textFormPart,
  .phoneFormPart {
    // padding: 10px 0;

    .partTitle {
      font-size: 14px;
      line-height: 1.57;
      color: #68717c;
      margin-bottom: 7px;
    }

    .partContent {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .partField {
        width: 66%;
        padding: 9px 16px;
        object-fit: contain;
        border: 1px solid;
        border-radius: 3px;
        background-color: rgba(27, 40, 52, 0.01);
        font-size: 14px;
        color: #68717c;
        box-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
        outline: none;
      }

      input {
        height: 36px;
      }
      
      .partHint {
        width: 30%;
        display: flex;
        align-items: flex-start;
        padding-top: 7px;

        img {
          padding-top: 1px;
          padding-right: 4px;
        }

        label {
          font-size: 14px;
          line-height: 1.57;
          white-space: pre-line;
        }
      }
    }
  }

  button {
    width: 141px;
    height: 36px;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 var(--dark-16);
    font-size: 14px;
    margin-top: 30px;
  }
}





